<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halfplatepoha.telemprompter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.settingsscreen.SettingsActivity" />
        <activity android:name=".screens.addnewnote.AddNewNoteActivity" />
        <activity android:name=".screens.existingnote.ExistingNoteActivity" />
        <activity android:name=".screens.helpscreen.HelpActivity" />

        <provider
            android:name=".db.DataProvider"
            android:authorities="com.halfplatepoha.telemprompter"
            android:exported="true"
            android:readPermission="com.halfplatepoha.telemprompter.READ" />

        <meta-data
            android:name="com.google.android.gms.drive.API_KEY"
            android:value=""/>
        <meta-data
            android:name="com.google.android.drive.API_KEY"
            android:value="XXXXXXXXXXXXXXXXX"/>
        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=XXXXXXXXXXXXXXXXXX" />

    </application>

</manifest>