<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halfplatepoha.telemprompter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.settingsscreen.SettingsActivity" />
        <activity android:name=".screens.addnewnote.AddNewNoteActivity" />
        <activity android:name=".screens.existingnote.ExistingNoteActivity" />
        <activity android:name=".screens.helpscreen.HelpActivity" />

        <provider
            android:name=".db.DataProvider"
            android:authorities="com.halfplatepoha.telemprompter"
            android:exported="true"
            android:readPermission="com.halfplatepoha.telemprompter.READ" />

        <service android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".widget.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info"/>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>